<div id="wrapper">
    <div id="page-content-wrapper">
<!-- Sin cold-md-4 se centra -->
<div>
    <h1 class="table">Presupuestos</h1>
     <table class="table">
         <thead>
             <th>
                 <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                         <a class="nav-link" routerLink="/presupuestos/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Nuevo Presupuesto</a>
                        
                          
                        </li>
                       </ul>
             </th>
            
         </thead>
     </table>
     <div style="overflow-x:auto;">
     <table class="table table-hover table-fixed">
      
        <thead style="background-color: rgb(69, 151, 189);">
           <tr>
            <th scope="col">ID Presupuesto</th>
             <th scope="col">Nombre Cliente</th>
             <th scope="col">Apellido Cliente</th>
             <th scope="col">DNI</th>
             <th scope="col">Telefono</th>
             <th scope="col">Correo</th>
             <th scope="col">Acciones</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let presupuesto of presupuestos">
             
 
            <td>{{presupuesto.id}}</td>
             <td>{{presupuesto.nombre_cliente}}</td>
             <td>{{presupuesto.apellido_cliente}}</td>
             <td>{{presupuesto.dni}}</td>
             <td>{{presupuesto.telefono}}</td>
             <td>{{presupuesto.correo}}</td>
             <td>  <div class="btn-group"> <button [routerLink]="['/presupuestos/edit', presupuesto.id]" class="btn btn-raised btn-info btn-block">
                 EDITAR </button>  <button class="btn btn-raised btn-danger" (click)="deletePresupuesto(presupuesto.id)">
                     BORRAR
                 </button></div> </td>
             
           </tr>
         </tbody>
       </table>
    </div>
    </div>
</div>
</div>
       
                             <!-- CARD -->
 
 <!-- 
     <div class="card text-center">
         <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
             {{proveedor.nombre}}
             <button class="btn btn-danger" (click)="deleteProveedor(proveedor.id)">
                 <i class="fas fa-trash"></i>
             </button>
         </div>
         <img src="{{proveedor.image}}" class="card-img-top">
         <div class="card-body">
             <p>{{proveedor.descripcion}}</p>
             <a [routerLink]="['/proveedores/edit', proveedor.id]" class="btn btn-info btn-block">
                 EDITAR PROVEEDOR
 
             </a>
         </div>
     </div>
 
 </div> -->